doctype html
html(lang='en')
	head
			title committing/hackathons
			link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/style.css')
	body
		.main
			header
				h1
					a(href='/') committing/hackathons
			article
				ul
					each hackathon in hackathons
						li
							h2
								a(href='/hackathons/#{hackathon.hlid}') /#{hackathon.hlid}
