html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Inconsolata', sans-serif;
	font-size: 48pt;

	display: inline-block;

	margin-top: .25em;
	margin-bottom: .25em;
}

h1 > a, h1 > a:link, h1 > a:visited {
	color: black;
	text-decoration: none;
}

h1 > a:hover {
	color: darkGray;
}

h2 {
	font-family: 'Inconsolata', sans-serif;
	font-size: 28pt;

	display: inline-block;
	padding-left: 32px;

	margin-top: .25em;
	margin-bottom: .25em;
}

li {
	list-style-type: none;
}

li > p {
	font-family: 'Inconsolata', sans-serif;
	font-size: 14pt;

	display: inline-block;
	padding-left: 32px;

	margin-top: .25em;
	margin-bottom: .25em;
}

li > p span {
	color: darkGray;
}

li > p a.message {
	color: black;
}

li > p a.message:hover {
	color: darkGray;
}

.vert {
	display: inline-block;
	vertical-align: top;
}

.main {
	padding-left: 1%;
	padding-right: 1%;
}

.main h1 a {
	vertical-align: top;
}
.other > a {
	display: block;
	font-size: 30pt;
}

.label a, .label a:link, .label a:visited {
	color: white;
	text-decoration: none;
}

a, a:link, a:visited {
	color: darkGray;
	text-decoration: none;
}

a:hover {
	color: black;
}

.rickshaw_graph .detail {
	pointer-events: auto;
}

.rickshaw_graph .detail a, .rickshaw_graph .detail a:link, .rickshaw_graph .detail a:visited {
	color: lightGray;
}

.rickshaw_graph .detail a:hover {
	color: white;
}

.rickshaw_legend {
	font-family: 'Inconsolata', sans-serif;
	font-size: 10pt;
}

#render_form {
	padding-top: 10px;
}

#render_form label {
	font-family: 'Inconsolata', sans-serif;
	font-size: 11pt;	
}

#chart_container {
	position: relative;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
#chart {
	display: inline-block;
	margin-left: 40px;
}
#y_axis {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
}
.sidebar {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 10px;
}